<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
            <%- include('header'); -%>
    </header>
    <main>
        <div class="auth">
            <h1>З поверненням</h1>
            <form class="loginForm">
                <input type="text" name="login">
                <input type="text" name="password">
                <button type="submit">Увійти</button>
            </form>
            <br>
            <div class="register">
                <a href="./registration"><button type="submit" class="reg-btn">Зареєструватись</button></a>
            </div>
        </div>
    </main>
    
</body>
<script src="/javascripts/authScript.js"></script>
</html>